<ion-view title="DIGITAL CHAMPIONS" hide-back-button="true">
    <ion-content class="padding" scroll="false" ng-controller="messageController">
        <div id="content">

            <input style="margin-top: 20%" placeholder="Scrivi il tuo messaggio" type="text" class="txt" ng-model="frase">

                <p>
                    <a ng-href="#/message" class="hvr-grow"  ng-click="apriCamera()" style="margin-top: 55%">
                        <img ng-src="img/scatta_btn.png"   class="page-element"  alt="submit" />
                    </a>
                </p>
                <p>

                        <img ng-src="img/msg-image.png" class="page-element" style="margin-top: 30px;" alt="submit" />
                </p>


        </div>
    </ion-content>
</ion-view>
