/* Empty. Add your own CSS if you like */


@font-face {
    font-family: 'rockwell';
    src: url('fonts/ROCK.TTF') format('truetype');
    font-weight: 100;

}

@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-Bold.otf');
    font-style: bold;

}

@font-face {
    font-family: 'impact';
    src: url('fonts/Impact.ttf') format('truetype');
    font-weight: 100;
    font-style: bold;

}

body{

}

.pane {
    background-color: #eee9db;
 }
#content{
    text-align: center;

}

input[type="text"]{
    display: inline;
    text-align: center;
    color: #757679;
    background-color: transparent;
    font-size: 1.5em;
}

.txt{
    font-family: 'rockwell';
    color: #757679  ;

}
#content .page-element {
    text-align: center;
    width: 70%

}




.about_logo{
    height: 100px;
    width: 100px;

    display: block;
    margin-top: 1em;
    margin-bottom: -20px;
    margin-left: auto;
    margin-right: auto

}

.about{
    font-family: rockwell;
    line-height: 1.5em;
    font-size: 1.4em;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    color: #757679;
}
